/* Landing Page */

#home{
	background: url("../images/background.svg");
}

#logo{
	height: 200px;
}

.home-logo-text a{
	border: 3px solid;
}

/* Our Vision */

.subtitle{
	text-align: center;
	margin-top: 45px;
}

/* Our Team */

.highlight.execs {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Contact Box */

.contact-box {
	margin-top: -25px;
}

/* PVC logo */

.logo {
	display: inline-block;
}

.pvc {
	height: 80px;
	width: 60px;
}

@media only screen and (max-width: 767px) {
	.pvc {
		margin-top: -3px;
	}
}


/* Clients */

.client-logos {`
	display: inline;
}

.companies {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* MailChimp */
  #mc_embed_signup {
  	background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; 
  }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    

.close{
	z-index: 2000;
}

/* Fun facts */
.facts {
	text-align: center;
}


/* companies */
.companies {
	text-align: center;
}

/* Contact parallax */
.email {
	font-size: 450%;
}

/*Font change*/
body,.home-logo-text a{
	font-family: 'Roboto Slab', serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
/*Home logo*/
.home-logo-text a{
	border: 0;
	color:white;
}
#header-logo{
	height: 200px;
}

/*Email size reduced*/
.email{
	font-size: 2.5em;
}
.pvcteam{
	width: 400px;
	height: 400px;
}