/* Landing Page */

#home{
	background: url("../images/background.svg");
}

#logo{
	height: 200px;
}

.home-logo-text a{
	border: 3px solid;
}

/* Our Vision */

.subtitle{
	text-align: center;
	margin-top: 45px;
}

/* Our Team */

.highlight.execs {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Contact Box */

.contact-box {
	margin-top: -25px;
}

/* PVC logo */

.logo {
	display: inline-block;
}

.pvc {
	margin-top: -5px;
	height: 90px;
	width: 90px;
	margin-left: -30px;
}

/* Clients */

.client-logos {
	display: inline;
}

/* MailChimp */
  #mc_embed_signup {
  	background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; 
  }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    