@font-face {
    font-family:Bebas Neue;
    src: url(fonts/Bebas-Neue/BebasNeueBold.otf);
    font-weight: 800;
}

.site {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    background: linear-gradient(to right, #F14140, #F07373);
    overflow: hidden;
}

.white {
    background: white;
}

.navbar-custom {
    border-width: 0;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
    padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(255,255,255,.5);
}

@media (max-width: 768px) {
    .navbar-custom .nav-item .nav-link {
        border-bottom: 3px solid rgba(255,255,255,.5);
    }
}

.navbar-brand {
    color: white;
    text-transform: uppercase;
    font-family: Bebas Neue, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: 31px;
    letter-spacing: 5.5px;
}

.main {
    width:100vw;
}

.pb-high {
    padding-bottom: 8rem !important;
}

.navbar-toggler-icon {
    background-color: white;
}

.color-white {
    color: white;
}

.bold {
    font-weight: 800;
}

.big {
    font-size: 6rem;
}

.bigger {
    font-size: 9rem;
}

.thin {
    font-weight: 300;
}

.thick {
    font-weight: bold;
}

.lift-up {
    margin-top: -50px;
}

.quote-text {
    font-family: "Helvetica Neue", sans-serif;
    font-stretch: normal;
    letter-spacing: 2px;
    font-size: 20px;
}

.quotation-mark {
    font-family: Times, serif;
}

.color-grey {
    color: rgba(255, 255, 255, 0.24);
}

.push-down {
    margin-top: 15px;
}

.mini {
    font-size: 18px;
}

.nano {
    font-size: 12px;
    letter-spacing: 1px;
}

.resize {
    max-width: 600px;
}

.text-top {
    margin-top: -40px;
}

.logoBrand {
    font-family: Bebas Neue;
    font-size: 30px;
    letter-spacing: 3px;
}

.lift-high {
    margin-top: -70px;
}

.grey {
    color: #a6a6a6;
}

.title {
    size: 80px;
    letter-spacing: 7px;
}

.red-line {
    width: 100%;
    height: 2px;
    border: solid 4px #f24949;
}

.white-line {
    width: 100%;
    height: 2px;
    border: solid 4px #ffffff;
}

@media (min-width: 768px) {
    .align-center {
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .align-center {
        padding-bottom: 0;
    }
}

.about-text {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 3px;
}

.dropcase {
    font-size: 120px;
    line-height: 140px;
    letter-spacing: 1px;
    color: #ff3d44;
    font-weight: normal;
}

.call-to-action{
    width: 274px;
    height: 52px;
    font-family: Bebas Neue;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 7px;
    color: #ff3d44;
}

.color-red {
    color: #ff3d44;
}

.font2-big {
    font-family: Bebas Neue, sans-serif;
    font-size: 46px;
}

.profile {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.name {
    width: 126px;
    height: 24px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    color: #ffffff;
}

.namespace {
    padding-bottom: 24px;
}

.title {
    width: 154px;
    height: 38px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
}

.navbar-toggle-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.connect-words {
    font-family: Bebas Neue, sans-serif;
    font-size: 56px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
    text-align: center;
    color: #ffffff;
}

.extra-letter-space {
    letter-spacing: 24px;
}

a:hover {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.companies-text {
    font-family: "Helvetica Neue", sans-serif;
    font-stretch: normal;
    letter-spacing: 4px;
    font-size: 36px;
}

.companies-img {
    width: 85px;
    height: 85px;
}

.flourish-img {
    width: auto;
    max-height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.flourish-img-flipped {
    width: auto;
    max-height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}


@media (max-width: 710px) {
    .space-divider {
        margin-top: 350px;
    }
}

@media (min-width: 710px) {
    .space-divider {
        margin-top: 50px;
    }
}